
.divDataWO {
	width: 17%;
	float: left;
	margin-left: 1%;
}

.divTotal {
	width: 15%;
	float: left;
	margin-left: 4%;
	margin-top: -20px;
}

.divData {
	width: 50%;
	float: left;
	margin-left: 7%;
	margin-top: -40px;
}

.ui-icon-loading {
    background: url(images/ajax-loader.gif);
}