body {
	width: 95%;
	background-color: #00cc99;
}

thead { background-color: #00cc99; }

.divData {
	width: 40%;
	height: 400px;
	overflow-x: hidden;
}

.form { text-align: center; }

.divDataWO {
	width: 15%;
	float: left;
	margin-left: 20%;
	
}

.divTotal {
	width: 15%;
	float: left;
	margin-left: 3%;
	margin-top: -20px;
}

.divData {
	float: right;
	margin-top: -40px;
}

table {
	border: 5px solid #00cc99;
	border-style: inset;
	background-color: white;
	border-collapse: collapse;
}

thead, tbody, td, tr { border: 1px solid black; }

#divDate { float: right; }

label { background-color: #339966; }