body {
	width: 100%;
	background-color: #00cc99;
}

thead { background-color: #00cc99; }

.divData {
	width: 100%;
	height: 400px;
	text-align: center;
	overflow-x: hidden;
}

div.divData table { margin: 0 auto; }

.divTotal {
	width: 100%;
	text-align: center;
}

div.divTotal table { margin: 0 auto; }
 
div { text-align: center; }

table {
	border: 5px solid #00cc99;
	border-style: inset;
	background-color: white;
	border-collapse: collapse;
}

thead, tbody, td, tr { border: 1px solid black; }

#divDate {
	float: right;
}